.calculator {
	width: 200px;
	height: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: Arial, sans-serif;
}
.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1px;
	background-color: #ccc;
	padding: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.button {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
}
.button1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
}
.grey {
	background-color: #666;
  
}
.darkgrey {
	background-color: #494848;
  
}
.orange {
	background-color: orange;
}
.big {
	grid-column: 1 / span 2;
}
.big1 {
	grid-column: 1 / span 4;
}